Repository gpgarcia/VitasPickleballRating: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines.yml

azure-pipelines-1.yml:

# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - vpr

pool:
  vmImage: ubuntu-latest

steps:

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '**/*sqlproj'

- task: PublishPipelineArtifact@1
  inputs:
    targetPath: '$(Pipeline.Workspace)'
    artifact: '_dacpac'
    publishLocation: 'pipeline'

azure-pipelines.yml:

# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
   include:
     - main
  paths:
    include:
     - PickleBallAPI

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: 'fc4551b2-ff3e-4e61-9370-675101d8cebf'
  imageRepository: 'gpgarciavitaspickleballrating'
  containerRegistry: 'pickleball.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/PickleBallAPI/Dockerfile'
  tag: '$(Build.BuildId)'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build an image 
      inputs:
        command: build
        arguments: --build-arg BUILD_CONFIGURATION=$(Build.Configuration)
        repository: $(imageRepository)
        buildContext: $(Build.SourcesDirectory)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag),latest
    - task: Docker@2
      displayName: push an image to container registry
      inputs:
        command: push
        repository: $(imageRepository)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag),latest

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: none

Support Singles games db concurrency errors return 409
  PickleBallAPI/Controllers/DTO/FacilityDto.cs
  PickleBallAPI/Controllers/DTO/GameDto.cs
  PickleBallAPI/Controllers/DTO/GamePredictionDto.cs
  PickleBallAPI/Controllers/DTO/PlayerDto.cs
  PickleBallAPI/Controllers/DTO/PlayerRatingDto.cs
  PickleBallAPI/Controllers/DTO/TypeGameDto.cs
  PickleBallAPI/Controllers/EloCalculator.cs
  PickleBallAPI/Controllers/GameLogic.cs
  PickleBallAPI/Controllers/GameQueries.cs
  PickleBallAPI/Controllers/GamesController.cs
  PickleBallAPI/Controllers/PlayerController.cs
  PickleBallAPI/Controllers/PlayerQueries.cs
  PickleBallAPI/Controllers/PlayerRatingsController.cs
  PickleBallAPI/Models/Facility.cs
  PickleBallAPI/Models/Game.cs
  PickleBallAPI/Models/GamePrediction.cs
  PickleBallAPI/Models/Player.cs
  PickleBallAPI/Models/PlayerRating.cs
  PickleBallAPI/Models/TypeFacility.cs
  PickleBallAPI/Models/TypeGame.cs
  PickleBallAPI/Models/VprContext.cs
  PickleBallAPI/Models/VprContextExtensions.cs
  PickleBallAPI/PickleBallAPI.http
  PickleBallAPI/PickleBallProfile.cs
  TestPickleBallApi/EloCalculatorTests.cs
  TestPickleBallApi/GameLogicTests.cs
  TestPickleBallApi/GamesControllerIntTests.cs
  TestPickleBallApi/GamesControllerUnitTests.cs
  TestPickleBallApi/PlayerRatingsControllerIntTests.cs
  TestPickleBallApi/PlayerRatingsControllerUnitTests.cs
  TestPickleBallApi/PlayersControllerTests.cs
  TestPickleBallApi/TestPickleBallApi.csproj
  VitasPickleballRating.Dotnet.sln
  vpr/Tables/Game.sql
  vpr/Tables/GamePrediction.sql
  vpr/vpr.sqlproj
  vpr/vpr.sqlproj.bak
Due: azure-pipelines-1.yml, azure-pipelines.yml

fix missing Dependencies.
  PickleBallAPI/Program.cs
  TestPickleBallApi/ProgramTests.cs
Due: azure-pipelines.yml

agent rules
  .github/agents/automated_test.md
  .github/agents/document-design.md
  .github/agents/readme-specialist.md
Due: none

add license
  LICENSE
Due: none

update test
  .github/agents/automated_test.md
  TestPickleBallApi/EloCalculatorTests.cs
  TestPickleBallApi/GameLogicTests.cs
  TestPickleBallApi/GamesControllerUnitTests.cs
  TestPickleBallApi/PlayersControllerTests.cs
  TestPickleBallApi/ProgramTests.cs
Due: none
